:root {
 --corvc1:#E641B5;
 --corvc2:#9357CF;
 --corvc3:#FE7C64;
 --corvc4:#FE8F5B;
 --corhea1:rgba(0, 0, 0, 0.388);
 --corhea2:rgb(2, 2, 2);
 --font1:impact
}
body {
     background-color: black;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header {
    background-image: url(ChatGPT\ Image\ 5\ de\ set.\ de\ 2026\,\ 16_56_44.png); width: 1000px;
    height: 100px;

}

header h1 {
background: linear-gradient(to right, var(--corvc1), var(--corvc3));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
padding-top: 30px;
font-family: var(--font1);
font-style: italic;
text-align: center;
font-size: 60px;
text-shadow: var(--corvc1) 2px 2px 2px 
}

nav {
    background-color: black;
  padding-top: 30px;
  text-align: center;
}

nav a {
    color: aliceblue;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }

   nav a:hover
   {
    background-color: #E641B5;
    color:#f8f5f7;
    transition-duration: 0.6s;
    border-radius: 10px 10px 10px 10px;
   }


article
{
background-image:linear-gradient(var(--corvc1),var(--corvc2));
border-radius: 10px;
box-shadow: 15px 5px 10px black;
margin: auto;
max-width:800px ;
min-width: 320px;
padding: 15px 15px 15px 15px;
margin-top: 10px;
}

article p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    font-size: 1.1em;
}

article h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aliceblue;
    font-style: italic ;
    text-shadow: 5px 5px 5px black;}

article h1:hover
{
    background-color: #ee6fc8;
    border-radius: 5px 5px 5px;
    transition-duration: 1s;
    margin: 0px -15px 0px -15px;
padding:  5px 5px 5px 5px;
}


article h2 {
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aliceblue;
    font-style: italic ;
    text-shadow: 5px 5px 5px black;
}


article h2:hover
{
    background-color: #ee6fc8;
    border-radius: 5px 5px 5px;
    transition-duration: 1s;
    margin:-10px -15px 0px -15px;
    padding:  5px 5px 5px 5px;
}

#trailer1 {
padding-left: 100px;
}